body {
    /*background: url(../images/adrian-infernus.jpg) blue;*/
  }

  .navbar{
    background: rgba(76, 175, 80, 0.1);
    border-bottom: 1px solid red;
  }

  .section{
     padding-top: 60px; 
    height: 100vh;
  }

  #section-first
  {

    background: url(../images/adrian-infernus.jpg) blue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

  }